typeattribute bluetooth system_writes_vendor_properties_violators;

allow bluetooth storage_stub_file:dir { getattr };
set_prop(bluetooth, vendor_bluetooth_prop)
set_prop(bluetooth, wc_prop)
