allow hal_thermal_default self:netlink_kobject_uevent_socket { read create setopt getopt bind } ;
allow hal_thermal_default sysfs:file { read open write getattr };
allow hal_thermal_default sysfs:dir { read open };
allow hal_thermal_default proc_stat:file {read open getattr};
