typeattribute hal_graphics_allocator_default_tmpfs mlstrustedobject;
allow hal_graphics_allocator_default dmabuf_system_heap_device:chr_file { read open ioctl };
allow hal_graphics_allocator_default dmabuf_system_secure_heap_device:chr_file { read open ioctl };
