# allow NFC process to call into the NFC HAL
# binder_call(nfc, nfc_hal_default)
hal_client_domain(nfc, hal_secure_element)
# rw_dir_perms has { r_dir_perms w_dir_perms }
# create_dir_perms has { create rw_dir_perms }
allow nfc nfc_data_file:dir create_dir_perms;
# allow nfc nfc_vendor_data_file:dir create_dir_perms;
allow nfc nfc_vendor_data_file:dir { create_dir_perms add_name search read write create remove_name };
# create_file_perms has { create setattr rw_file_perms link_file_perms}
allow nfc nfc_vendor_data_file:file create_file_perms;
