vendor_internal_prop(vendor_wc_prop)
vendor_restricted_prop(vendor_usb_config_prop)
vendor_internal_prop(vendor_power_hal_prop)
vendor_internal_prop(vendor_bluetooth_prop)
vendor_restricted_prop(vendor_public_default_prop)
vendor_internal_prop(vendor_wifi_version)
vendor_internal_prop(vendor_logging_prop)
vendor_internal_prop(vendor_camera_prop)
vendor_internal_prop(vendor_trusty_storage_prop)
