type vendor_wc_prop, property_type;
type vendor_usb_config_prop, property_type;
type vendor_power_hal_prop, property_type;
type vendor_bluetooth_prop, property_type;
type vendor_public_default_prop, property_type;
type vendor_wifi_version, property_type;
type vendor_logging_prop, property_type;
