recovery_only(`
  allow recovery block_device:chr_file {getattr read write open ioctl};
  allow recovery block_device:dir { read write open ioctl add_name};
  allow recovery block_device:file { read write open ioctl create};
  allow recovery self:capability {sys_resource};
  allow recovery cache_file:dir { mounton }; 
  allow recovery debug_prop:property_service { set }; 
  allow recovery ffs_prop:property_service { set };
  allow recovery sysfs:dir { read open search };
  allow recovery sysfs:file { read open getattr };
')

