#allow untrusted_app vendor_file:file { getattr read open execute };
allow untrusted_app sysfs_zram:file { read open getattr };
allow untrusted_app sysfs_zram:dir { search };
