get_prop(mediaextractor, media_prop)

allow mediaextractor vfat:file { read getattr };
allow mediaextractor fuseblk:file { read getattr };
allow mediaextractor fuse:file { read getattr };
allow mediaextractor sdcardfs:file { read getattr };
allow mediaextractor system_server:fifo_file { write getattr append };
allow mediaextractor same_process_hal_file:dir { read open };
allow mediaextractor same_process_hal_file:file { read open getattr execute};
allow platform_app iso9660:dir { search open read getattr };
allow platform_app iso9660:file { open read getattr };
