type miracastserver, domain;
type miracastserver_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(miracastserver)
net_domain(miracastserver)
allow miracastserver vndbinder_device:chr_file { write read  open ioctl };
allow miracastserver hwservicemanager_prop:file { read open getattr };
allow miracastserver system_app:binder { call };
allow miracastserver hwservicemanager:binder { call transfer };
allow miracastserver { miracastserver_hwservice  hidl_base_hwservice }:hwservice_manager { add };