allow vendor_init rootfs:dir { create_dir_perms relabelfrom };
#allow vendor_init { wifi_file wifi_socket }:dir { setattr search };
#allow vendor_init { hdcp_file }:dir { setattr search };
#allow vendor_init update_data_file:dir { read };

#allow vendor_init sysfs_devices_system_cpu:dir { write add_name create };
allow vendor_init sysfs_devices_system_cpu:file { create };

allow vendor_init debugfs:dir { mounton };

allow vendor_init update_data_file:file { read };

allow vendor_init self:capability sys_module;
allow vendor_init vendor_file:system module_load;

allow vendor_init rootfs:dir { read relabelfrom };
allow vendor_init self:capability sys_module;

allow vendor_init proc:file write;
allow vendor_init unlabeled:dir search;

# optee
allow vendor_init drm_device:chr_file setattr;

# allow init mount a new filesystem and set its selinux contexts
allow vendor_init unlabeled:dir { getattr read relabelfrom setattr };
