allow init system_file:system module_load;
allow init self:capability sys_module;
allow init rootfs:chr_file { read write };

type bootinit, domain;
type bootsound, domain;

allow init bootinit:process { noatsecure rlimitinh siginh transition };
allow init bootsound:process { noatsecure rlimitinh siginh transition };

userdebug_or_eng(`
	allow init su:process { transition siginh rlimitinh };
	allow init su_exec:file { getattr open read };
	allow init sudaemon:process { noatsecure rlimitinh siginh transition };
')
