allow platform_app blkid_exec:file getattr;
allow platform_app bootanim_exec:file getattr;
allow platform_app clatd_exec:file getattr;
allow platform_app debuggerd_exec:file getattr;
allow platform_app dhcp_exec:file getattr;
allow platform_app dnsmasq_exec:file getattr;
allow platform_app drmserver_exec:file getattr;
allow platform_app dumpstate_exec:file getattr;
allow platform_app fsck_exec:file getattr;
allow platform_app gatekeeperd_exec:file getattr;
allow platform_app hci_attach_exec:file getattr;
allow platform_app hostapd_exec:file getattr;
allow platform_app installd_exec:file getattr;
allow platform_app keystore_exec:file getattr;
allow platform_app lmkd_exec:file getattr;
allow platform_app logd_exec:file getattr;
allow platform_app mdnsd_exec:file getattr;
allow platform_app mediaserver_exec:file getattr;
allow platform_app mtp_exec:file getattr;
allow platform_app netd_exec:file getattr;
allow platform_app perfprofd_exec:file getattr;
allow platform_app ppp_exec:file getattr;
allow platform_app racoon_exec:file getattr;
allow platform_app sdcardd_exec:file getattr;
allow platform_app servicemanager_exec:file getattr;
allow platform_app sgdisk_exec:file getattr;
allow platform_app su_exec:file getattr;
allow platform_app surfaceflinger_exec:file getattr;
allow platform_app tzdatacheck_exec:file getattr;
allow platform_app uncrypt_exec:file getattr;
allow platform_app vdc_exec:file getattr;
allow platform_app vold_exec:file getattr;
allow platform_app wpa_exec:file getattr;
allow platform_app atrace_exec:file getattr;
allow platform_app audioserver_exec:file getattr;
allow platform_app bootstat_exec:file getattr;
allow platform_app cameraserver_exec:file getattr;
allow platform_app idmap_exec:file getattr;
allow platform_app mediacodec_exec:file getattr;
allow platform_app mediadrmserver_exec:file getattr;
allow platform_app mediaextractor_exec:file getattr;
allow platform_app profman_exec:file getattr;
