userdebug_or_eng(`
    allow sudaemon socket_device:dir { add_name create setattr write };
    allow sudaemon socket_device:sock_file { create setattr };
')
