allow system_server init:unix_dgram_socket sendto;
allow system_server self:capability sys_module;
allow system_server self:system module_load;
allow system_server tty_device:chr_file rw_file_perms;
set_prop(system_server, camera_prop)
