allow system_server camera_prop:file { getattr open read };
allow system_server crash_dump:process getpgid;
allow system_server init:unix_dgram_socket sendto;
allow system_server self:capability sys_module;
allow system_server tty_device:chr_file rw_file_perms;
allow system_server untrusted_app_25:file write;
allow system_server isolated_app:file rw_file_perms;
