allow vold      self:capability { setgid setuid };
allow vold      fuse_device:chr_file rw_file_perms;
allow domain tty_device:chr_file rw_file_perms;
allow domain gpu_device:dir { search };
allow domain unlabeled:file { setattr getattr rename r_file_perms };
allow domain unlabeled:dir { setattr getattr rename r_dir_perms };
allow domain unlabeled:lnk_file { read };
dontaudit domain kernel:system module_request;

get_prop(domain, public_vendor_default_prop)
