typeattribute system_server system_writes_vendor_properties_violators;

get_prop(system_server, vendor_default_prop)

allow system_server unlabeled:dir {relabelfrom rw_dir_perms};
allow system_server unlabeled:sock_file {link unlink rw_file_perms};
allow system_server system_data_file:file {relabelto rw_file_perms};
allow system_server system_data_file:dir {relabelto rw_dir_perms};
allow system_server kernel:system { syslog_read };
allow system_server wifi_log_prop:property_service { set };
allow system_server self:capability2 { wake_alarm };
allow system_server priv_app:file { write };
allow system_server untrusted_app:file { write };
allow system_server cameraserver:file { write };
allow system_server platform_app:file { write };
allow system_server audioserver:file { write };
allow system_server system_app:file { write };
allow system_server sensors_device:chr_file { open read };
allow system_server bluetooth:file { write };
allow system_server hal_audio_default:file { write };
allow system_server mediaprovider:file { write };
allow system_server untrusted_app_25:file { write };
allow system_server sysfs:dir { read open };
allow system_server sysfs:file { getattr };
allow system_server sysfs_rtc:file { read open };
allow system_server vendor_configs_file:file { map };
allow system_server shell_data_file:file { map };
allow system_server graphics_device:dir { search };
allow system_server graphics_device:chr_file { open read ioctl };
allow system_server sysfs_extcon:file { getattr open read };
