/dev/pmem_gpu             0660   system     graphics
/dev/ttymxc0              0666   system     system
/dev/ttymxc1              0666   system     system
/dev/ttymxc2              0660   bluetooth  bluetooth
/dev/snd/*                0664   system     audio
/dev/ttyUSB*              0640   radio      radio
/dev/ttyACM*              0640   radio      radio
/dev/video*               0660   system     camera
/dev/video16              0660   system     graphics
/dev/mxc_ipu              0660   graphics   system
/dev/mxc_vpu              0660   media      system
/dev/uinput               0666   system     input
/dev/ttya0                0660   system     gps
/dev/ptya0                0660   system     gps
/dev/ttya1                0660   system     gps
/dev/ptya1                0660   system     gps
/dev/ion                  0666   media      system
/dev/galcore	          0666 	 system     graphics
/dev/graphics/fb0         0660   system     graphics
/dev/watchdog             0660   system     root
/dev/rfkill               0660   wifi       system

# sysfs properties
/sys/devices/virtual/input/input*   name        0660  root   input
/sys/devices/virtual/input/input*   max         0660  root   input
/sys/devices/virtual/input/input*   min         0660  root   input
/sys/devices/virtual/input/input*   poll        0660  root   input
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   position    0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
/sys/devices/virtual/input/input*   fifo        0660  root   input
/sys/devices/virtual/thermal/thermal_zone* trip_point_0_temp 0660 system system
/sys/devices/virtual/thermal/thermal_zone* trip_point_1_temp 0660 system system
/sys/devices/virtual/thermal/thermal_zone* trip_point_2_temp 0660 system system
/sys/devices/soc0/backlight_* brightness 0660 system system
/sys/devices/soc0/soc.1/2100000.aips-bus/* boot_bus_config 0660 root root
/sys/devices/soc0/soc.1/2100000.aips-bus/* boot_config 0660 root root
/sys/devices/soc0/fb.* fsl_disp_property 0660 system graphics
/sys/devices/soc0/fb.* mode 0660 system graphics
/sys/devices/soc0/soc.1/busfreq.* enable 0660 system system
/sys/devices/system/cpu/cpu* online 0664 root system
