on boot

    # fsl omx graphic manager media framework property
    setprop media.omxgm.enable-record 1

    # Set OpenGLES version
    setprop ro.opengles.version 131072

    # Set GPU 3D minimum clock to 8/64
    write /sys/bus/platform/drivers/galcore/gpu3DMinClock 8
