on init
    # disable cursor blink for fbcon, if no splash screen support
    write /sys/class/graphics/fbcon/cursor_blink 0

    setprop sys.usb.configfs 1

on post-fs-data
    setprop sys.usb.controller "38100000.dwc3"
