/dev/pmem_gpu             0660   system     graphics
/dev/ttymxc*              0666   system     system
/dev/snd/*                0664   system     audio
/dev/ttyUSB*              0640   radio      radio
/dev/ttyACM*              0640   radio      radio
/dev/video*               0660   system     camera
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video2               0660   system     camera
/dev/video16              0660   system     graphics
/dev/mxc_ipu              0660   graphics   system
/dev/mxc_iim              0664   system     media
/dev/mxs_viim             0664   system     media
/dev/fsl_cache            0666   system     graphics
/dev/gsl_kmod             0666   system     graphics
/dev/mxc_vpu              0660   media      system
/dev/uinput               0666   system     input
/dev/ttya0                0660   system     gps
/dev/ptya0                0660   system     gps
/dev/ttya1                0660   system     gps
/dev/ptya1                0660   system     gps
/dev/ion                  0666   media      system
/dev/graphics/galcore	  0666 	 system     graphics
/dev/graphics/fb0         0660   system     graphics
/dev/watchdog             0660   system     root

# sysfs properties
/sys/devices/virtual/input/input*   name        0660  root   input
/sys/devices/virtual/input/input*   max         0660  root   input
/sys/devices/virtual/input/input*   min         0660  root   input
/sys/devices/virtual/input/input*   poll        0660  root   input
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   position    0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
/sys/devices/virtual/input/input*   fifo        0660  root   input
/sys/devices/virtual/thermal/thermal_zone* trip_point_0_temp 0660 system system
/sys/devices/virtual/thermal/thermal_zone* trip_point_1_temp 0660 system system
/sys/devices/virtual/thermal/thermal_zone* trip_point_2_temp 0660 system system

/sys/devices/platform/mxsdhci.2/mmc_host/mmc0/mmc0:000* boot_bus_config 0660 root root
/sys/devices/platform/mxsdhci.2/mmc_host/mmc0/mmc0:000* boot_config 0660 root root
/sys/devices/platform/imx-i2c.2/i2c-2/2-0044 mode 0660 system system
/sys/devices/platform/imx-i2c.2/i2c-2/2-0044 lux 0660 system system
/sys/devices/platform/imx-i2c.2/i2c-2/2-0044 int_lt_lux 0660 system system
/sys/devices/platform/imx-i2c.2/i2c-2/2-0044 int_ht_lux 0660 system system
/sys/devices/platform/mxc_sdc_fb.0/graphics/fb*	fsl_disp_property 0660 system graphics
/sys/devices/platform/mxc_sdc_fb.1/graphics/fb*	fsl_disp_property 0660 system graphics
/sys/devices/platform/mxc_sdc_fb.0/graphics/fb*	mode 0660 system graphics
/sys/devices/platform/mxc_sdc_fb.1/graphics/fb*	mode 0660 system graphics
/sys/devices/platform/mxc_dvfs_core.0 enable 0660 system system
/sys/devices/platform/busfreq.0 enable 0660 system system
