import init.sierra.rc

on boot

    # fsl omx graphic manager media framework property
    setprop media.omxgm.enable-record 1

    # Set OpenGLES version
    setprop ro.opengles.version 131072

    # Set GPU 3D minimum clock to 3/64
    write /sys/bus/platform/drivers/galcore/gpu3DMinClock 3

    # set back camera.
    setprop back_camera_name ov5640_mipi
    setprop back_camera_orient 90

    # set front camera.
    setprop front_camera_name ov5642_camera

    # do not emulate the battery status
    setprop sys.emulated.battery 0

    # Invensense IIO settings
    chown system system /dev/iio:device0
    chown system system /sys/bus/iio/devices/iio:device0/accel_enable
    chown system system /sys/bus/iio/devices/iio:device0/accel_fifo_enable
    chown system system /sys/bus/iio/devices/iio:device0/accel_matrix
    chown system system /sys/bus/iio/devices/iio:device0/accel_rate
    chown system system /sys/bus/iio/devices/iio:device0/batchmode_timeout
    chown system system /sys/bus/iio/devices/iio:device0/batchmode_wake_fifo_full_on
    chown system system /sys/bus/iio/devices/iio:device0/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device0/buffer/length
    chown system system /sys/bus/iio/devices/iio:device0/buffer/watermark
    chown system system /sys/bus/iio/devices/iio:device0/compass_enable
    chown system system /sys/bus/iio/devices/iio:device0/compass_matrix
    chown system system /sys/bus/iio/devices/iio:device0/compass_rate
    chown system system /sys/bus/iio/devices/iio:device0/compass_sens
    chown system system /sys/bus/iio/devices/iio:device0/debug_smd_delay_cntr
    chown system system /sys/bus/iio/devices/iio:device0/debug_smd_enable_testp1
    chown system system /sys/bus/iio/devices/iio:device0/debug_smd_enable_testp2
    chown system system /sys/bus/iio/devices/iio:device0/debug_smd_exe_state
    chown system system /sys/bus/iio/devices/iio:device0/dev
    chown system system /sys/bus/iio/devices/iio:device0/display_orientation_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_event_int_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_firmware
    chown system system /sys/bus/iio/devices/iio:device0/dmp_int_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_output_rate
    chown system system /sys/bus/iio/devices/iio:device0/event_accel_motion
    chown system system /sys/bus/iio/devices/iio:device0/event_display_orientation
    chown system system /sys/bus/iio/devices/iio:device0/event_pedometer
    chown system system /sys/bus/iio/devices/iio:device0/event_smd
    chown system system /sys/bus/iio/devices/iio:device0/firmware_loaded
    chown system system /sys/bus/iio/devices/iio:device0/flush_batch
    chown system system /sys/bus/iio/devices/iio:device0/gyro_enable
    chown system system /sys/bus/iio/devices/iio:device0/gyro_fifo_enable
    chown system system /sys/bus/iio/devices/iio:device0/gyro_matrix
    chown system system /sys/bus/iio/devices/iio:device0/gyro_rate
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_scale
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_self_test_scale
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_dmp_bias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_dmp_bias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_dmp_bias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_scale
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_self_test_scale
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_x_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_x_dmp_bias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_x_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_y_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_y_dmp_bias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_y_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_z_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_z_dmp_bias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_z_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_magn_scale
    chown system system /sys/bus/iio/devices/iio:device0/master_enable
    chown system system /sys/bus/iio/devices/iio:device0/motion_lpa_duration
    chown system system /sys/bus/iio/devices/iio:device0/motion_lpa_freq
    chown system system /sys/bus/iio/devices/iio:device0/motion_lpa_on
    chown system system /sys/bus/iio/devices/iio:device0/motion_lpa_threshold
    chown system system /sys/bus/iio/devices/iio:device0/name
    chown system system /sys/bus/iio/devices/iio:device0/pedometer_counter
    chown system system /sys/bus/iio/devices/iio:device0/pedometer_int_on
    chown system system /sys/bus/iio/devices/iio:device0/pedometer_on
    chown system system /sys/bus/iio/devices/iio:device0/pedometer_steps
    chown system system /sys/bus/iio/devices/iio:device0/pedometer_time
    chown system system /sys/bus/iio/devices/iio:device0/ped_q_on
    chown system system /sys/bus/iio/devices/iio:device0/ped_q_rate
    chown system system /sys/bus/iio/devices/iio:device0/power/autosuspend_delay_ms
    chown system system /sys/bus/iio/devices/iio:device0/power/control
    chown system system /sys/bus/iio/devices/iio:device0/power/runtime_active_time
    chown system system /sys/bus/iio/devices/iio:device0/power/runtime_status
    chown system system /sys/bus/iio/devices/iio:device0/power/runtime_suspended_time
    chown system system /sys/bus/iio/devices/iio:device0/power_state
    chown system system /sys/bus/iio/devices/iio:device0/pressure_enable
    chown system system /sys/bus/iio/devices/iio:device0/pressure_rate
    chown system system /sys/bus/iio/devices/iio:device0/reg_dump
    chown system system /sys/bus/iio/devices/iio:device0/reg_write
    chown system system /sys/bus/iio/devices/iio:device0/sampling_frequency
    chown system system /sys/bus/iio/devices/iio:device0/sampling_frequency_available
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_type
    chown system system /sys/bus/iio/devices/iio:device0/secondary_name
    chown system system /sys/bus/iio/devices/iio:device0/self_test
    chown system system /sys/bus/iio/devices/iio:device0/self_test_samples
    chown system system /sys/bus/iio/devices/iio:device0/self_test_threshold
    chown system system /sys/bus/iio/devices/iio:device0/six_axes_q_on
    chown system system /sys/bus/iio/devices/iio:device0/six_axes_q_rate
    chown system system /sys/bus/iio/devices/iio:device0/six_axes_q_value
    chown system system /sys/bus/iio/devices/iio:device0/smd_delay_threshold
    chown system system /sys/bus/iio/devices/iio:device0/smd_delay_threshold2
    chown system system /sys/bus/iio/devices/iio:device0/smd_enable
    chown system system /sys/bus/iio/devices/iio:device0/smd_threshold
    chown system system /sys/bus/iio/devices/iio:device0/step_detector_on
    chown system system /sys/bus/iio/devices/iio:device0/step_indicator_on
    chown system system /sys/bus/iio/devices/iio:device0/temperature
    chown system system /sys/bus/iio/devices/iio:device0/three_axes_q_on
    chown system system /sys/bus/iio/devices/iio:device0/three_axes_q_rate
    chown system system /sys/bus/iio/devices/iio:device0/trigger/current_trigger
    chown system system /sys/bus/iio/devices/iio:device0/uevent
