type mediadrm_vendor_data_file, file_type, data_file_type;
type debugfs_dma, debugfs_type, fs_type;
type sysfs_soc, sysfs_type, fs_type;
type pps_socket, file_type;
type vendor_hwc_file, file_type, data_file_type;
