allow hal_sensors_default input_device:dir { read } ;
allow hal_sensors_default sysfs:dir { read open } ;
allow hal_sensors_default input_device:dir { open search }  ;
allow hal_sensors_default input_device:chr_file { ioctl read open }  ;
allow hal_sensors_default sysfs:chr_file { open }  ;
allow hal_sensors_default sysfs:file { open read write getattr ioctl };
allow hal_sensors_default device:dir { open read };
allow hal_sensors_default sensors_device:chr_file { open read };
