binder_call(hal_secure_enclave_client, hal_secure_enclave_server)
hal_attribute_service(hal_secure_enclave, hal_secure_enclave_service)
binder_call(hal_secure_enclave_server, servicemanager)
