type external_camera_service,       service_manager_type;
type dek_extractor_service,         service_manager_type;
type hal_secure_enclave_service, protected_service, hal_service_type,   service_manager_type;
