/dev/block/by-name/frp    0600   system     system
/dev/block/by-name/fbmisc 0600   system     system
/dev/ttyLP4              0660   bluetooth  bluetooth
# for libcamera
/dev/media* 0660 system camera
/dev/v4l-subdev* 0660 system camera
/dev/snd/*                0660   system     audio
/dev/video*               0660   system     camera
/dev/dma_heap/dsp         0660   mediacodec      mediacodec
/dev/rpmsg0               0660   mediacodec      mediacodec
/dev/rpmsg1               0660   mediacodec      mediacodec
/dev/mxc_hifi4            0660   media      drmrpc
/dev/ion                  0666   media      drmrpc
/dev/mali0                0666   system     graphics
/dev/dri/card0            0666   system     graphics
/dev/graphics/fb0         0660   system     graphics
/dev/watchdog             0660   system     root
/dev/mmcblk0rpmb    0600   system     system
/dev/trusty-ipc-dev0      0660   system     drmrpc
/dev/trusty-log0          0660   system     system
/dev/hsm1_ch0      0660   system     drmrpc
/dev/hsm1_ch1      0660   system     drmrpc
/dev/block/pmem0          0660   system     system
/dev/dma_heap/reserved    0666   system     system
/dev/dma_heap/reserved-uncached    0666   system     system
/dev/dma_heap/secure      0666   system     system

/dev/dma_heap/linux,cma            0666 system graphics
/dev/dma_heap/linux,cma-uncached   0666 system graphics
/dev/dma_heap/system               0666 system graphics
/dev/dma_heap/system-uncached      0666 system graphics

# ezurio additions
/dev/i2c*                 0660   system     system
/dev/rfkill               0666   bluetooth  system
/dev/ttymxc*              0660   system     system
/dev/ttyUSB*              0660   system     system
/dev/ttyACM*              0660   system     system

/sys/devices/virtual/thermal/thermal_zone* trip_point_0_temp 0660 system system
/sys/devices/virtual/thermal/thermal_zone* trip_point_1_temp 0660 system system

/sys/devices/virtual/thermal/thermal_zone* trip_point_0_hyst 0660 system system
/sys/devices/virtual/thermal/thermal_zone* trip_point_1_hyst 0660 system system

/sys/devices/virtual/bluetooth/hci* state       0660  bluetooth bluetooth
/sys/devices/platform/soc/42000000.bus/425a0000.serial/serial0/serial0-0/bluetooth/hci0/rfkill* state 0660 bluetooth bluetooth
/sys/devices/platform/soc/42000000.bus/425a0000.serial/serial0/serial0-0/bluetooth/hci0/rfkill* type  0660 bluetooth bluetooth

/dev/dmabuf_imx           0664   system     system
/dev/neutron0             0666   system     graphics
/sys/class/backlight/* brightness 0660 system system
