on early-boot
    # Configure DRM in 64-bit architecture. This shall be done before to start
    # the DRM service which is triggered by the 'on boot' event.
    setprop drm.64bit.enabled true

on boot

    # fsl omx graphic manager media framework property
    setprop media.omxgm.enable-record 1

    # Set OpenGLES version
    setprop ro.opengles.version 196609

    # Set GPU 3D minimum clock to 3/64
    write /sys/bus/platform/drivers/galcore/gpu3DMinClock 3

    # set back camera.
    setprop back_camera_name mxc-mipi-csi2.0

    # set front camera.
    setprop front_camera_name mxc-mipi-csi2.1

    # Set period_us for usb audio
    setprop ro.audio.usb.period_us 20000
