on init
    # link emmc node to /dev/block/by-name
    symlink   /dev/block/platform/30b50000.usdhc/by-name /dev/block/by-name
    symlink   /dev/block/platform/30b50000.usdhc/mmcblk1 /dev/block/by-name/bootloader

    # Load persistent dm-verity state
    verity_load_state
