on early-init
    setprop ro.init.skip.text 1

on boot
    setprop vold.force_fstab_label 1

    # fsl omx graphic manager media framework property
    setprop media.omxgm.enable-record 1

    # Set OpenGLES version
    setprop ro.opengles.version 131072

    # Set GPU 3D minimum clock to 3/64
    write /sys/bus/platform/drivers/galcore/gpu3DMinClock 3

    # Custom HW setup
    start bootinit

    # Root the device
    start su_daemon

service su_daemon /system/xbin/su --daemon
    user root
    group root
    disabled
    seclabel u:r:sudaemon:s0

service bootinit /system/bin/bootinit
    user root
    group root
    disabled
    oneshot
    seclabel u:r:bootinit:s0

service bootsound /system/bin/bootsound
    user media
    group audio
    disabled
    oneshot
    seclabel u:r:bootsound:s0

on property:init.svc.bootanim=running
    start bootsound
