on post-fs
# shared transport user space mgr service for Bluetooth, FM and GPS
service uim /system/bin/uim-sysfs
    class core
    user bluetooth
    group bluetooth net_bt_admin
    seclabel u:r:hci_attach:s0
    oneshot
