on init
    mkdir /boot
    mkdir /recovery

    # disable cursor blink for fbcon, if no splash screen support
    write /sys/class/graphics/fbcon/cursor_blink 0

    # deattach the fbcon as hdmi hotplug conflict with fbcon
    write /sys/class/vtconsole/vtcon1/bind 0

on boot
    # ci_hdrc.0 is the fixed UDC name
    setprop sys.usb.controller ci_hdrc.0
