binder_call(hal_secureime_client, hal_secureime_server)
hal_attribute_service(hal_secureime, hal_secureime_service)
binder_call(hal_secureime_server, servicemanager)
