allow logd init:unix_stream_socket { connectto };
allow logd property_socket:sock_file { write };

r_dir_file(logd, logbuffer_device)
allow logd logbuffer_device:chr_file r_file_perms;
